# Logs
logs
*.log

# Node
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules

# Scala
*.class

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
out/*

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

